thead {
  background-color: #333;
  color: #fff;
  text-align: center;
}
th {
  width: 50%;
}
td {
  text-align: center;
  border: #333 solid ;
}
#key {
  text-align: left;
}
table {
  border: #333 solid 2px;
  box-shadow: 0 2px 4px 0;
}